@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pixelify+Sans&display=swap");
* {
	font-family: "Dancing Script", cursive;
}
body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}
header img:hover {
	cursor: pointer;
}
footer {
	background-color: #333333;
	height: 120px;
}
.logo {
	float: left;
	margin-left: 7%;
	margin-top: 4%;
}
.logo::after {
	clear: left;
}
.menu {
	float: right;
	margin-right: 5%;
	margin-top: 4%;
}
.menu::after {
	clear: right;
}
.menu:hover {
	opacity: 0.7;
}
.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.section-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.circle-item1,
.circle-item2,
.circle-item3 {
	position: absolute;
	border-radius: 50%;
}
.circle-item1 {
	background-color: violet;
	width: 600px;
	height: 600px;
	margin-top: 53%;
	margin-left: 15%;
}
.circle-item2 {
	background-image: url("https://c4.wallpaperflare.com/wallpaper/403/855/787/sword-blood-fantasy-armor-wallpaper-preview.jpg");
	background-size: cover;
	background-position: center;
	width: 750px;
	height: 750px;
	margin-top: 20%;
	margin-left: 23%;
}
.circle-item3 {
	background-color: orange;
	width: 720px;
	height: 720px;
	margin-top: 50%;
	margin-right: 30%;
}
.circle3-text {
	display: flex;
	width: 450px;
	height: 450px;
	align-items: center;
	text-align: center;
	flex-direction: column;
	margin-left: 130px;
	margin-top: 150px;
}
.circle3-text h1 {
	font-size: 50px;
	margin: 0;
	padding: 0;
}
.circle3-text p {
	font-size: 25px;
	line-height: 1.5em;
}
.circle3-text a {
	color: black;
}
.circle3-text a:hover {
	opacity: 0.7;
}
.circle3-text button {
	background-color: transparent;
	border-style: solid;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 6em;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
	letter-spacing: 0.2em;
}
.circle3-text button:hover {
	background-color: black;
	color: orange;
	transition: 0.2s;
}
.background-section2 {
	width: 100%;
	height: 320px;
	margin-top: 450px;
	display: block;
	object-fit: cover;
}
.section-container2 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
	height: 300px;
	background-color: darkolivegreen;
	flex-wrap: wrap;
}
.container2-item1,
.container2-item2,
.container2-item3,
.container2-item4 {
	position: relative;
	border-radius: 50%;
	background-color: white;
	padding: 6px;
	width: 170px;
	height: 170px;
	margin-top: -14%;
	margin-right: 4%;
	margin-left: 6%;
}
.container2-item1 img,
.container2-item2 img,
.container2-item3 img,
.container2-item4 img {
	display: block;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	margin: 5px;
}
.container2-item1 h2,
.container2-item2 h2,
.container2-item3 h2,
.container2-item4 h2 {
	margin-top: 20px;
	text-align: center;
}
.section-container2 p {
	font-size: 20px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 20px;
}
.section-container2 a {
	color: black;
}
.section-container2 a:hover {
	opacity: 0.9;
}
.section-container3 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 1300px;
	background-color: brown;
}
.container3-item1,
.container3-item2,
.container3-item3,
.container3-item4,
.container3-item5 {
	position: absolute;
	border-radius: 50%;
}
.container3-item1 {
	background-image: url("https://c4.wallpaperflare.com/wallpaper/403/855/787/sword-blood-fantasy-armor-wallpaper-preview.jpg");
	background-size: cover;
	background-position: center;
	width: 500px;
	height: 500px;
	margin-right: 47%;
	margin-bottom: 50%;
}
.container3-item2 {
	background-image: url("https://c4.wallpaperflare.com/wallpaper/403/855/787/sword-blood-fantasy-armor-wallpaper-preview.jpg");
	background-size: cover;
	background-position: center;
	width: 500px;
	height: 500px;
	margin-left: 47%;
	margin-bottom: 50%;
}
.container3-item3 {
	background-image: url("https://c4.wallpaperflare.com/wallpaper/403/855/787/sword-blood-fantasy-armor-wallpaper-preview.jpg");
	background-size: cover;
	background-position: center;
	width: 500px;
	height: 500px;
	margin-right: 47%;
	margin-top: 50%;
}
.container3-item4 {
	background-image: url("https://c4.wallpaperflare.com/wallpaper/403/855/787/sword-blood-fantasy-armor-wallpaper-preview.jpg");
	background-size: cover;
	background-position: center;
	width: 500px;
	height: 500px;
	margin-left: 47%;
	margin-top: 50%;
}
.container3-item5 {
	background-color: white;
	width: 720px;
	height: 720px;
}

.container3-text {
	display: flex;
	width: 600px;
	height: 600px;
	align-items: center;
	text-align: center;
	flex-direction: column;
	margin-left: 63px;
	margin-top: 160px;
}
.container3-text h1 {
	font-size: 50px;
	margin: 0;
}
.container3-text p {
	font-size: 25px;
	line-height: 1.8em;
}
.container3-text a {
	color: black;
}
.container3-text a:hover {
	opacity: 0.9;
}
.container3-text button {
	background-color: transparent;
	border-style: solid;
	border-color: brown;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 6em;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 70px;
	padding-right: 70px;
	letter-spacing: 0.2em;
}
.container3-text button:hover {
	cursor: pointer;
	background-color: brown;
	color: white;
	transition: 0.2s;
}
.section-container4 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	width: 60%;
	height: 700px;
}
.container4-item1,
.container4-item2,
.container4-item3,
.container4-item4,
.container4-item5,
.container4-item6 {
	position: absolute;
	border-radius: 1em;
	background-color: darkolivegreen;
	font-weight: bold;
	font-size: 30px;
	width: 300px;
	height: 100px;
	align-items: center;
	text-align: center;
	box-sizing: border-box;
}
.container4-title {
	margin-top: -5px;
	font-size: 45px;
}
.container4-item1 {
	margin-top: -180px;
	margin-right: 310px;
}
.container4-item2 {
	margin-top: -180px;
	margin-left: 310px;
}
.container4-item3 {
	margin-top: 35px;
	margin-right: 310px;
}
.container4-item4 {
	margin-top: 35px;
	margin-left: 310px;
}
.container4-item5 {
	margin-top: 250px;
	margin-right: 310px;
}
.container4-item6 {
	margin-top: 250px;
	margin-left: 310px;
}
.section-container4 button {
	background-color: transparent;
	border-style: solid;
	border-color: darkolivegreen;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 6em;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 70px;
	padding-right: 70px;
	letter-spacing: 0.2em;
	margin-top: 300px;
}
.section-container4 button:hover {
	cursor: pointer;
	background-color: darkolivegreen;
	color: white;
	transition: 0.2s;
}
.footfont {
	display: flex;
	justify-content: center;
	align-items: center;
    font-family: "Open Sans", sans-serif;
    color:white;
	margin-top: 55px;
}
@media (max-width: 619px) {
	section {
		overflow: hidden;
	}
	.menu {
		margin-right: 5%;
	}
	.section-container {
		height: 700px;
	}
	.circle-item1 {
		display: none;
	}
	.circle-item2 {
		width: 500px;
		height: 500px;
		margin-top: -20%;
		margin-left: 0;
	}
	.circle-item3 {
		width: 700px;
		height: 700px;
		margin-top: 120%;
		margin-right: 0%;
	}
	.circle3-text {
		overflow: visible;
		width: 400px;
		margin-left: 150px;
	}
	.section-container2 {
		overflow: visible;
		height: 600px;
	}
	.container2-item1,
	.container2-item2,
	.container2-item3,
	.container2-item4 {
		overflow: visible;
		margin-top: -20%;
		margin-bottom: 35%;
	}
	.section-container3 {
		height: 2000px;
	}
	.container3-item1,
	.container3-item2,
	.container3-item3,
	.container3-item4 {
		width: 350px;
		height: 350px;
	}
	.container3-item1 {
		margin: 0;
		margin-top: -230%;
		margin-left: 25%;
	}
	.container3-item2 {
		margin: 0;
		margin-top: -100%;
		margin-right: 25%;
	}
	.container3-item3 {
		margin: 0;
		margin-top: 125%;
		margin-right: 25%;
	}
	.container3-item4 {
		margin: 0;
		margin-top: 250%;
		margin-left: 25%;
	}
	.container3-item5 {
		width: 600px;
		height: 600px;
		margin: 0;
		margin-top: 10%;
	}
	.container3-text {
		width: 400px;
		margin: 0;
		margin-top: 100px;
		margin-left: 100px;
	}
	.section-container4 {
		width: 90%;
		height: 1100px;
		justify-content: center;
		flex-direction: column;
		gap: 10px;
	}
	.container4-item1,
	.container4-item2,
	.container4-item3,
	.container4-item4,
	.container4-item5,
	.container4-item6 {
		position: static;
		margin: 0;
		padding: 0;
		width: 99%;
		font-size: 30px;
	}
	.container4-title {
		width: 100%;
	}
	.section-container4 button {
		margin: 0;
		margin-top: 30px;
	}
}
