@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pixelify+Sans&display=swap");
* {
	font-family: "Dancing Script", cursive;
}
body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}
header img:hover {
	cursor: pointer;
}
footer {
	background-color: #333333;
	height: 120px;
}
.logo {
	float: left;
	position: absolute;
	left: 7%;
	top: 5%;
}
.logo::after {
	clear: left;
}
.menu {
	float: right;
	position: absolute;
	right: 5%;
	top: 5%;
}
.menu::after {
	clear: right;
}
.menu:hover {
	opacity: 0.7;
}
.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.section-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.circle-item1,
.circle-item2,
.circle-item3 {
	position: absolute;
	border-radius: 50%;
}
.circle-item1 {
	background-color: violet;
	width: 600px;
	height: 600px;
	top: 7.6%;
	right: 19%;
}
.circle-item2 {
	background-image: url("https://c4.wallpaperflare.com/wallpaper/403/855/787/sword-blood-fantasy-armor-wallpaper-preview.jpg");
	background-size: cover;
	background-position: center;
	width: 750px;
	height: 750px;
	top: 2%;
	right: 9%;
}
.circle-item3 {
	background-color: orange;
	width: 720px;
	height: 720px;
	top: 6%;
	right: 37%;
}
.circle3-text {
	display: flex;
	width: 450px;
	height: 450px;
	align-items: center;
	text-align: center;
	flex-direction: column;
	margin-left: 130px;
	margin-top: 150px;
}
.circle3-text h1 {
	font-size: 50px;
	margin: 0;
	padding: 0;
}
.circle3-text p {
	font-size: 25px;
	line-height: 1.5em;
}
.circle3-text a {
	color: black;
}
.circle3-text a:hover {
	opacity: 0.7;
}
.circle3-text button {
	background-color: transparent;
	border-style: solid;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 6em;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 50px;
	letter-spacing: 0.2em;
}
.circle3-text button:hover {
	cursor: pointer;
	background-color: black;
	color: orange;
	transition: 0.2s;
}
.background-section2 {
	width: 100%;
	height: 320px;
	margin-top: 450px;
	display: block;
	object-fit: cover;
}
.section-container2 {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 300px;
	background-color: darkolivegreen;
}
.container2-item1,
.container2-item2,
.container2-item3,
.container2-item4 {
	position: absolute;
	border-radius: 50%;
	background-color: white;
	padding: 6px;
	width: 170px;
	height: 170px;
}
.container2-item1 {
	top: -37%;
	left: 11%;
}
.container2-item2 {
	top: -37%;
	left: 33%;
}
.container2-item3 {
	top: -37%;
	right: 33%;
}
.container2-item4 {
	top: -37%;
	right: 11%;
}
.container2-item1 img,
.container2-item2 img,
.container2-item3 img,
.container2-item4 img {
	display: block;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	margin: 5px;
}
.container2-item1 h2,
.container2-item2 h2,
.container2-item3 h2,
.container2-item4 h2 {
	margin-top: 20px;
	text-align: center;
}
.section-container2 p {
	position: absolute;
	font-size: 20px;
	text-align: center;
	margin-top: 0;
	bottom: 10%;
}
.section-container2 a {
	color: black;
}
.section-container2 a:hover {
	opacity: 0.9;
}
.section-container3 {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 1500px;
	background-color: brown;
}
.container3-item1,
.container3-item2,
.container3-item3,
.container3-item4,
.container3-item5 {
	position: absolute;
	border-radius: 50%;
}
.container3-item1 {
	background-image: url("https://c4.wallpaperflare.com/wallpaper/403/855/787/sword-blood-fantasy-armor-wallpaper-preview.jpg");
	background-size: cover;
	background-position: center;
	width: 500px;
	height: 500px;
	right: 55%;
	top: 11%;
}
.container3-item2 {
	background-image: url("https://c4.wallpaperflare.com/wallpaper/403/855/787/sword-blood-fantasy-armor-wallpaper-preview.jpg");
	background-size: cover;
	background-position: center;
	width: 500px;
	height: 500px;
	left: 55%;
	top: 13%;
}
.container3-item3 {
	background-image: url("https://c4.wallpaperflare.com/wallpaper/403/855/787/sword-blood-fantasy-armor-wallpaper-preview.jpg");
	background-size: cover;
	background-position: center;
	width: 500px;
	height: 500px;
	right: 57%;
	bottom: 14%;
}
.container3-item4 {
	background-image: url("https://c4.wallpaperflare.com/wallpaper/403/855/787/sword-blood-fantasy-armor-wallpaper-preview.jpg");
	background-size: cover;
	background-position: center;
	width: 500px;
	height: 500px;
	left: 55%;
	bottom: 14%;
}
.container3-item5 {
	background-color: white;
	width: 720px;
	height: 720px;
	top: 27%;
}

.container3-text {
	display: flex;
	width: 600px;
	height: 600px;
	align-items: center;
	text-align: center;
	flex-direction: column;
	margin-left: 63px;
	margin-top: 160px;
}
.container3-text h1 {
	font-size: 50px;
	margin: 0;
}
.container3-text p {
	font-size: 25px;
	line-height: 1.8em;
}
.container3-text a {
	color: black;
}
.container3-text a:hover {
	opacity: 0.9;
}
.container3-text button {
	background-color: transparent;
	border-style: solid;
	border-color: brown;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 6em;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 70px;
	padding-right: 70px;
	letter-spacing: 0.2em;
}
.container3-text button:hover {
	cursor: pointer;
	background-color: brown;
	color: white;
	transition: 0.2s;
}
.section-container4 {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 700px;
}
.container4-item1,
.container4-item2,
.container4-item3,
.container4-item4,
.container4-item5,
.container4-item6 {
	position: absolute;
	border-radius: 1em;
	background-color: darkolivegreen;
	font-weight: bold;
	font-size: 30px;
	width: 300px;
	height: 100px;
	align-items: center;
	text-align: center;
	box-sizing: border-box;
}
.container4-title {
	position: absolute;
	width: 800px;
	top: 10px;
	font-size: 45px;
}
.container4-item1 {
	top: 30%;
	left: 27.4%;
}
.container4-item2 {
	top: 30%;
	right: 27.4%;
}
.container4-item3 {
	top: 46%;
	left: 27.4%;
}
.container4-item4 {
	top: 46%;
	right: 27.4%;
}
.container4-item5 {
	top: 62%;
	left: 27.4%;
}
.container4-item6 {
	top: 62%;
	right: 27.4%;
}
.section-container4 button {
	position: absolute;
	background-color: transparent;
	border-style: solid;
	border-color: darkolivegreen;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 6em;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 70px;
	padding-right: 70px;
	letter-spacing: 0.2em;
	bottom: 50px;
}
.section-container4 button:hover {
	cursor: pointer;
	background-color: darkolivegreen;
	color: white;
	transition: 0.2s;
}
.section6-container {
	display: flex;
	position: relative;
	width: 100%;
	height: 1500px;
	background-color: rgb(0, 102, 255);
	padding: auto;
}
.section6-border {
	position: absolute;
	top: 150px;
	left: 700px;
	border: 2px solid #ffffff;
	border-radius: 15px;
	background-color: white;
	padding: 0;
	width: 550px;
	height: 420px;
	z-index: 2;
}
.container6-title {
	position: absolute;
	top: 0px;
	left: 70px;
	font-size: 45px;
}
.container6-text1 {
	top: 124px;
	font-size: 22px;
	position: absolute;
	left: 70px;
	margin-right: 30px;
}
.container6-text2 {
	top: 204px;
	font-size: 22px;
	position: absolute;
	left: 70px;
}
.section6-image {
	position: absolute;
	left: 170px;
	top: 350px;
	z-index: 1;
	border-radius: 50%;
}
.section6-item1 {
	position: absolute;
	top: 780px;
	left: 90px;
	z-index: 2;
}
.section6-item2 {
	position: absolute;
	top: 780px;
	left: 353px;
	z-index: 2;
}
.section6-item3 {
	position: absolute;
	top: 780px;
	left: 616px;
	z-index: 2;
}
.section6-item4 {
	position: absolute;
	top: 780px;
	left: 879px;
	z-index: 2;
}
.container6box-title {
	font-size: 45px;
	margin: 0;
	position: absolute;
	top: 90px;
	left: 70px;
}
.container6box-title2 {
	font-size: 45px;
	margin: 0;
	position: absolute;
	top: 90px;
	left: 80px;
}
.container6box-title3 {
	font-size: 45px;
	margin: 0;
	position: absolute;
	top: 90px;
	left: 80px;
}
.container6box-title4 {
	font-size: 45px;
	margin: 0;
	position: absolute;
	top: 90px;
	left: 100px;
}
.container6box-subtitle {
	position: absolute;
	top: 145px;
	left: 90px;
}
.container6box-subtitle2 {
	position: absolute;
	top: 145px;
	left: 75px;
}
.container6box-subtitle3 {
	text-align: center;
	margin-right: 65px;
	position: absolute;
	top: 145px;
	left: 65px;
}
.container6box-subtitle4 {
	position: absolute;
	top: 145px;
	left: 95px;
}

.section6-boxes {
	border: 2px solid #ffffff;
	border-radius: 15px;
	background-color: white;
	font-weight: bold;
	padding: 0;
	width: 225px;
	height: 250px;
	z-index: 2;
	margin: 15px;
}
.section6-container button {
	position: absolute;
	bottom: 75px;
	left: 70px;
	background-color: transparent;
	border-style: solid;
	border-color: rgb(0, 102, 255);
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 6em;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 70px;
	padding-right: 70px;
	letter-spacing: 0.2em;
}
.section6-container button:hover {
	cursor: pointer;
	background-color: rgb(0, 102, 255);
	color: white;
	transition: 0.2s;
}
.section7-container {
	display: flex;
	position: relative;
	width: 100%;
	height: 1600px;
	background-color: white;
	padding: auto;
}
.section7-item1{
	position: absolute;
	top: -150px;
	left: 90px;
	z-index: 2;
}
.section7-item2{
	position: absolute;
	top: -150px;
	left: 353px;
	z-index: 2;
}
.section7-item3{
	position: absolute;
	top: -150px;
	left: 616px;
	z-index: 2;
}
.section7-item4{
	position: absolute;
	top: -150px;
	left: 879px;
	z-index: 2;
}
.section7-boxes {
	border: 2px solid #ffffff;
	border-radius: 15px;
	background-color: white;
	padding: 0;
	width: 240px;
	height: 250px;
	z-index: 2;
	margin: 15px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.container7box-title {
	font-size: 45px;
	margin: 0;
	position: absolute;
	top: 90px;
	left: 70px;
}
.container7box-title2 {
	font-size: 45px;
	margin: 0;
	position: absolute;
	top: 90px;
	left: 70px;
}
.container7box-title3 {
	font-size: 45px;
	margin: 0;
	position: absolute;
	top: 90px;
	left: 70px;
}
.container7box-title4 {
	font-size: 45px;
	margin: 0;
	position: absolute;
	top: 90px;
	left: 70px;
}
.container7box-subtitle {
	position: absolute;
	top: 145px;
	left: 90px;
}
.container7box-subtitle2 {
	position: absolute;
	top: 145px;
	left: 90px;
}
.container7box-subtitle3 {
	position: absolute;
	top: 145px;
	left: 90px;
}
.container7box-subtitle4 {
	position: absolute;
	top: 145px;
	left: 90px;
}
.section7-container button {
	position: absolute;
	bottom: 75px;
	left: 70px;
	color: white;
	background-color: rgb(0, 102, 255);
	border-style: solid;
	border-color: rgb(0, 102, 255);
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 6em;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 70px;
	padding-right: 70px;
	letter-spacing: 0.2em;
}
.section7-container button:hover {
	cursor: pointer;
	background-color: white;
	color: rgb(0, 102, 255);
	transition: 0.2s;
}
.footfont {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Open Sans", sans-serif;
	color: white;
	margin-top: 55px;
}
.footfont {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Open Sans", sans-serif;
	color: white;
	margin-top: 55px;
}
@media (max-width: 619px) {
	section {
		overflow: hidden;
	}
	.section-container {
		height: 800px;
	}
	.circle-item1 {
		display: none;
	}
	.circle-item2 {
		width: 500px;
		height: 500px;
		top: 2%;
	}
	.circle-item3 {
		width: 700px;
		height: 700px;
		top: 7%;
		right: -5%;
	}
	.circle3-text {
		overflow: visible;
		width: 400px;
		margin-left: 150px;
	}
	.section-container2 {
		overflow: visible;
		height: 600px;
	}
	.container2-item1,
	.container2-item2,
	.container2-item3,
	.container2-item4 {
		overflow: visible;
	}
	.container2-item1 {
		top: -21%;
	}
	.container2-item2 {
		top: -21%;
		left: 55%;
	}
	.container2-item3 {
		top: 21%;
		left: 11%;
	}
	.container2-item4 {
		top: 21%;
		left: 55%;
	}
	.section-container3 {
		height: 2000px;
	}
	.container3-item1,
	.container3-item2,
	.container3-item3,
	.container3-item4 {
		width: 350px;
		height: 350px;
	}
	.container3-item1 {
		top: 2%;
		right: 5%;
	}
	.container3-item2 {
		top: 21%;
		left: 5%;
	}
	.container3-item3 {
		bottom: 27%;
		left: 5%;
	}
	.container3-item4 {
		bottom: 3%;
		left: 37%;
	}
	.container3-item5 {
		width: 600px;
		height: 600px;
		top: 32%;
	}
	.container3-text {
		width: 400px;
		margin: 0;
		margin-top: 100px;
		margin-left: 100px;
	}
	.section-container4 {
		width: 90%;
		height: 1100px;
		justify-content: center;
		flex-direction: column;
		gap: 10px;
	}
	.container4-item1,
	.container4-item2,
	.container4-item3,
	.container4-item4,
	.container4-item5,
	.container4-item6 {
		position: static;
		width: 99%;
		font-size: 30px;
	}
	.container4-title {
		width: 100%;
		top: 0.1%;
	}
	.section-container4 button {
		bottom: 11%;
	}
	.section6-container {
		height: 1300px;
	}
	.section6-border {
		top: 5%;
		left: 25%;
		width: 430px;
		height: 450px;
	}
	.section6-image {
		width: 500px;
		height: 500px;
		left: 4%;
	}
	.section6-boxes {
		width: 260px;
		height: 180px;
	}
	.section6-item1 {
		left: 3%;
	}
	.section6-item2 {
		left: 50%;
	}
	.section6-item3 {
		left: 3%;
		top: 77%;
	}
	.section6-item4 {
		left: 50%;
		top: 77%;
	}
	.container6box-title {
		top: 25%;
		left: 27%;
	}
	.container6box-subtitle {
		top: 60%;
		left: 35%;
	}
	.container6box-title2 {
		top: 25%;
		left: 34%;
	}
	.container6box-subtitle2 {
		top: 60%;
		left: 34%;
	}
	.container6box-title3 {
		top: 25%;
		left: 33%;
	}
	.container6box-subtitle3 {
		top: 60%;
		left: 23%;
	}
	.container6box-title4 {
		top: 25%;
		left: 40%;
	}
	.container6box-subtitle4 {
		top: 60%;
		left: 37%;
	}
}

.container5-item1,
.container5-item2,
.container5-item3,
.container5-item4 {
	position: absolute;
}

.section-container5{
	display: flex;
	width: 100%;
	height: 1400px;
	background-color: white;
	position: relative;
}
.container5-item1{
	width: 580px;
	height: 580px;
	border-radius: 50%;
	background-color: gray;
	left: 370px;
	top: 65px;

	}
.container5-item2{ /* texto cuadrado */
	width: 500px;
    height: 580px;
    border-radius: 35px;
    background-color: white;
    position: absolute;
    left: 240px;
    top: 400px;
    padding: 20px; /* Agregamos relleno para que el contenido quepa */
    box-sizing: border-box;
	z-index: 3;

}
.container5-item3{
	background-image: url("https://c4.wallpaperflare.com/wallpaper/403/855/787/sword-blood-fantasy-armor-wallpaper-preview.jpg");
	background-size: cover;
	background-position: center;
	width: 550px;
	height: 550px;
	border-radius: 50%;
	top: 290px;
	left: 820px;


}
.container5-item4{
	background-image: url("https://c4.wallpaperflare.com/wallpaper/403/855/787/sword-blood-fantasy-armor-wallpaper-preview.jpg");
	background-size: cover;
	background-position: center;
	width: 450px;
	height: 450px;
	border-radius: 50%;
	top: 750px;
	left: 620px;
	z-index: 0;

}
.container5-text{
	text-align: left;
}

.container5-text h1 {
	font-size: 65px;
	margin: 0;
	
}
.container5-text p {
	font-size: 20px;
	line-height: 1.8em;
}
.container5-text a {
	color: black;
}
.container5-text a:hover {
	opacity: 0.9;
}
.container5-text button {
    background-color: transparent;
    border-style: solid;
    border-color: brown;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 6em;
    padding: 20px 65px; /* Redefinimos el padding de una manera más concisa */
    letter-spacing: 0.2em;
}
.container5-text button:hover {
	cursor: pointer;
	background-color: brown;
	color: white;
	transition: 0.2s;
}
